@font-face {
    font-family: "Pokemon Hollow";
    src: url(../font/pokemon_hollow.ttf);
}

@font-face {
    font-family: "Pokemon Solid";
    src: url(../font/pokemon_solid.ttf);
}

* {
    font-family: "VT323";
}

.navbar .navbar-brand {
    font-family: "Pokemon Solid";
    font-size: 2em;
    color: rgb(252, 206, 0);
    text-shadow:
        -4px 4px 0 rgb(51, 86, 154),
        -2px -2px 0 rgb(51, 86, 154),
        2px -2px 0 rgb(51, 86, 154),
        -2px 2px 0 rgb(51, 86, 154),
        2px 2px 0 rgb(51, 86, 154);
}

.navbar .navbar-brand:hover {
    color: rgb(252, 206, 0);
}

.progress {
    height: 8px;
    margin-bottom: 0;
}

.btn {
    font-size: 1.5em;
}

.hide {
    display: none;
}

.top-buffer {
    padding-top: 20px;
}

.pokemon-info {
    min-height: 285px;
    max-height: 285px;
}

.pokemon-info .pokemon-name {
    font-weight: bold;
    font-size: 1.8em;
}

.pokeball-container {
    display: inline-block;
    height: 32px;
    list-style-type: none;
    text-align: center;
    vertical-align: top;
    width: 31px;
}

.battle-log {
    min-height: 72px;
    max-height: 72px;
}

.opponents-separator {
    min-height: 69px;
}

.pokemon-battle-info {
    border: 2px solid #ddd;
    border-radius: 16px 4px 4px 4px;
}

.pokemon-battle-info > .panel-body {
    padding: 5px;
}

.desaturate {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
}